* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common*/
body {
    font-family: 'Nerko One', cursive;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 68px;
    text-transform: uppercase;
    padding: 16px 0;
}
h2 {
    margin-bottom: 8px;
    position: absolute;
    bottom: 0%;
    /*left: 25%; soluzione da rivedere*/
    visibility: hidden;
    clear:left;
    width: 100%; /* meglio ma non so perchè ha funzionato*/
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.green {
    color: seagreen;
}
.yellow {
    color: #FFeF00;
}
.blue {
    color: steelblue;
}
.orange {
    color: tomato;
}
.pink {
    color: #E61986;
}
.brown{
    color: brown;
}
/*end common*/

/*start main*/
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #ADD8E6;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.card-box {
    width: 816px; /*soluzione da rivedere*/
    margin: auto;
}
.card {
    height: 210px;
    width: 180px;
    border-radius: 10px;
    margin: 0 24px 32px 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    float: left;
    position: relative;
}
.back {
    background-size: contain;
    background-position: center;
    background-image: url("../img/pattern.png");

    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card img {
    height: 100%;
    width: 100%;
    padding: 16px;
    object-fit: contain;
    visibility: hidden;
}
.card:hover,
.card:hover img{
    background-image: none;
    visibility: visible;
    transform: rotateY(180deg);
}
.card:hover h2 {
    visibility: visible;
    
    transform: rotateY(180deg);
}
.fixed img {
    height: 100%;
    width: 100%;
    padding: 16px;
    object-fit: contain;
    visibility: visible;
}
.fixed h2 {
    visibility: visible;
    text-align: center;
}
/*start footer*/
footer {
    background-color: #ADD8E6;
    text-align: center;
    padding: 25px;
}
/* .fixed {
    height: 210px;
    width: 180px;
    border-radius: 10px;
    margin: 0 24px 32px 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    float: left;
    position: relative;
} */